.sidebarTitle {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.Cinput {
  margin-top: 1px;
  position: absolute;
  top: 0;
  left: 2px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.Clabel {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}
